* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth; /* SCROLL FLUIDO */
}

body {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}

/* HERO + NAV */

.hero {
    background-color: #2F1893;
    background-image: url("./assets/img/hero-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;

    display: flex;
    justify-content: center;
    padding-top: 85px;
    gap: 45px;
}

nav a {
    color: white;
    text-decoration: none;
    opacity: 70%;
}

nav a:hover {
    text-decoration: underline;
    opacity: 100%;
}

/* GLOBAL CONTAINER */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    max-width: 740px;
    margin: auto;

    padding: 100px 0;
}

.title-label {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.029rem;
}

h1 {
    font-size: 7.2rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 8.6rem;
}

p {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.2rem;
}

.btn-1 {
    background-color: #482BE7;
    color: white;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-decoration: none;
    padding: 17px 35px;
    border-radius: 100px;
    display: inline-block;
}

.hero-container .title-label + h1 {
    margin-top: 28px;
}

.hero-container h1 + p {
    margin-top: 28px;
}

.hero-container  p + .btn-1 {
    margin-top: 117px;
}

/* CONTENT */

.content {
    background-color: #2F1893;
    background-image: url("./assets/img/content-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.label {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0.2rem;
}

h2 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 7rem;
    letter-spacing: -0.1rem;
}

.medium-text {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
    opacity: 70%;
}

.content .label + h2 {
    margin-top: 29px;
}

.content h2 + .medium-text {
    margin-top: 29px;
}

/* FEATURES */

.features {
    background-color: #2F1893;
    background-image: url("./assets/img/features-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-laptop {
    width: 460px;
}

h3 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 5.2rem;
    letter-spacing: -0.04rem;
    margin-bottom: 20px;
}

.small-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.features .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    margin: 0;
    max-width: 100%;
    text-align: left;
}

.column-text {
    margin-bottom: 65px;
}

.column-examples {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.feature-pages, .feature-components {
    max-width: 270px;
}

.column-info {
    max-width: 680px;
}

.column-examples img {
    height: 37px;
    margin-bottom: 25px;
}

.column-examples .label + .small-text {
    margin-top: 16px;
}

